<!DOCTYPE html>  
<html>  
<head>  
    <title>welcome</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
</head>  
<body>  
    <h2>Hi, welcome to Green miles wep app website</h2>
    <!-- <a href="/index">Welcome To Green Miles</a><br><br> 

    <nav class="logo">
    <!-- <img src="/static/image/logo.jpg" class="image1" width="100px" alt="an image"> -->

    </nav>
    
    <a href="/index" id="welcome" >Welcome To Green Miles</a>
   

</body>  
</html>  